
<div class="footer-container">
    <!-- Left Section -->
    <div class="footer-left">
        <P class="para">Contact Details :</P>
      <p class="para">{{ yourName }}</p>
      <p class="para">{{ yourPhoneNumber }}</p>
      <br>
      <p class="para">{{YourName}}</p>
      <p class="para">{{ YourPhoneNumber }}</p>
    </div>
  
    <!-- Middle Section -->
    <div class="footer-middle">
        <a href="/about-us">About Us</a>
     <p class="Desc">Our Company will serve  authenticated sellers and helping the local sellers to grow more
        side by side we also help our customers know about the shops which are  near by them so they can also reduce 
    their time while searching for the shops </p>
      <a href="/privacy-policy">Privacy and Policies</a>
    </div>
  
    <!-- Right Section -->
    <div class="footer-right">
        <p class="connect">Connect With Us</p>
      <!-- <div class="social-icons">
        <a href="https://www.instagram.com" target="_blank">
          <img src="assets/instagram-icon.png" alt="Instagram" class="social-icon">
        </a>
        <a href="https://www.facebook.com" target="_blank">
          <img src="assets/facebook-icon.png" alt="Facebook" class="social-icon">
        </a>
        <a href="https://www.twitter.com" target="_blank">
          <img src="assets/twitter-icon.png" alt="Twitter" class="social-icon">
        </a>
      </div> -->
      <p class="customer-support">Customer Support: <a href="mailto:nearyou.Support@ust.com">{{Email}}</a></p>
    </div>
  </div>
  
  <!-- Copyright Section -->
  <div class="footer-copyright">
    &copy; 2024 NearYou. All rights reserved.
  </div>
  