<app-header></app-header>
<div class="user-profile">
    <h2>Your Profile</h2>
    <div class="profile-details">
      <div class="detail">
        <label>Username:</label>
        <span>{{ username }}</span>
      </div>
      <div class="detail">
        <label>Email:</label>
        <span>{{ email }}</span>
      </div>
      <div class="detail">
        <label>Phone:</label>
        <span>{{ phone }}</span>
      </div>
      <div class="detail">
        <label>Address:</label>
        <span>{{ address }}</span>
      </div>
    </div>
    <button class="update-profile">Update Profile</button>
    
  </div>